body {
  background: $body_color;
  margin: 0;
  padding: 0;
}

a {
  color: blue;
  text-decoration: none;
  display: block;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

header a {
  color: white;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}