body {
  background: $body_color;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

p {
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

a {
  color: blue;
  text-decoration: none;
  display: block;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

header a {
  color: white;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}