@import './styles/vars';
@import './styles/colors';
@import './styles/default';


.App {
  padding-top: 100px; 
  max-width: $page_wrap;
  display: block;
  margin: auto;
  background: $bg_color;
  min-height: 2000px;
}

img {
  display: block;
  width: 100%;
  max-width: fit-content;
  height: auto;
  margin: auto;
}

header {
  position: relative;
  width: 100%;
}

.logo-container {
  max-width: $logo_width;
  
  img {
    width: 100%;
  }
}

li {
  display: inline-block;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.main-nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-nav {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: $page_wrap;
  background: $nav_bg_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu {
  display: flex;
}

.menu-item {
  padding: 10px;
}

.active-nav-item {
  text-decoration: underline;
}